:root{
  --color-primary: #19c37d;
  --color-secondary: #715fde;
  --color-error: #ef4146;
  --gradient-primary: linear-gradient(90deg,#a29bd4,#989fdd);
  --background-primary: #1a202c;
  --background-secondary: #ECE8DD;
  --background-highlight: #579BB1;
  --background-light: #F8F4EA;
  --background-dark: #d2c8b8;

  --dark-primary: #171923; 
  --dark-default: #282c34;
  --dark-secondary: #6e6e80;
  --dark-disabled: #acacbe; 
  --text-error: var(--color-error);
}

.application {
  max-width: 100vw;
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: var(--background-primary);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

