:root{
  --color-primary: #38b2ac;
  --color-secondary: #715fde;
  --color-error: #ef4146;
  --gradient-primary: linear-gradient(90deg,#a29bd4,#989fdd);
  --background-primary: #1a202c;
  --background-secondary: #2d3748;
  --background-highlight: #579BB1;
  --background-light: #F8F4EA;
  --background-dark: #d2c8b8;

  --dark-primary: #171923;
  --dark-default: #282c34;
  --dark-secondary: #3d4756;
  --dark-disabled: #acacbe; 
  --text-error: var(--color-error);
  color: white;
}

.application {
  max-width: 100vw;
  overflow: hidden;
}

.App {
  background-color: var(--background-primary);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.highlight {
  color: var(--color-primary)
}

h1 {
  font-size: 2.5em;
  font-weight: 500;
}

h2 {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 2em;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
}

h3 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0px;
}

.textBlock {
  font-size: 1.5em;
  font-weight: 200;
}

.paragraphBlock {
  font-size: 1.1em;
  font-weight: 200;
  margin-top: 0px;
}

.heroText {
  vertical-align: middle;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.headshot {
  border-radius: 10px;
  margin-left: 4vw;
}

.row {
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  justify-content: flex-start;
}

.postEntry {
  background-color: var(--background-secondary);
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 10px;
}

.col {
  display: flex;
  flex-direction: column;
}

.columnTwo {
  flex: 2;
}

.columnTwoSmall {
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  vertical-align: middle;
}

.rowTwo {
  display: flex;
}

.leftAlign {
  margin-left: 10vw;
}

.paddingTop {
  padding-top: 15px;
}

.rightAlign {
  margin-right: 10vw;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
}

.logoImage {
  border-radius: 4px;
}

.accomplishments {
  margin-top: 0px;
}

.skill {
  margin-right: 10px;
  margin-bottom: 10px;
}